---
import { SEO } from "astro-seo"
import "../styles/index.css"
interface Props {
	title: string;
	description: string;
	image?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<SEO 
			title={title}
			description={description}
			twitter={{
				creator: "@Exerra"
			}}
			openGraph={{
				basic: {
					title: title,
					image: "https://s.gravatar.com/avatar/6a80069ec71ef1ea1a488cc3183e66cb?s=1024",
					type: "profile",
				},
				optional: {
					description: description,
				},
				image: {
					alt: "gravity honey's profile picture"
				}
			}}
			extend={{
				link: [{ rel: "icon", href: "https://cdn.exerra.xyz/png/pfp.png" }],
				meta: [
					{ name: "theme-color", content: "#F2EDE3" }
				]
			}}
		/>
		
	</head>
	<body>
		<slot />
		<footer>
			<p>&copy; Gravity Honey</p>
		</footer>
	</body>
</html>
<style>
	footer {
		justify-content: center;
		align-items: center;
		display: flex;
		padding: 40px;
	}
	p {
		font-weight: bold;
	}

</style>
